{
    "presets": ["react-native"],
    "plugins": [
        [
            "babel-plugin-inline-import",
            {
                "extensions": [".graphql"]
            }
        ]
    ],
    "env": {
        "production": {
            "plugins": ["transform-remove-console"]
        }
    }
}
